In [6]:
with open("p022_names.txt") as i:
    for j in i:
        A = j.split(",")

A = [i[1:-1] for i in A]
A = sorted(A)

A[:10]

['AARON',
 'ABBEY',
 'ABBIE',
 'ABBY',
 'ABDUL',
 'ABE',
 'ABEL',
 'ABIGAIL',
 'ABRAHAM',
 'ABRAM']

In [11]:
B = []
for i in range(len(A)):
    B.append((i + 1) * sum([ord(i) - ord("A") + 1 for i in A[i]]))

B[:10]

[49, 70, 57, 120, 200, 48, 140, 328, 396, 350]

In [12]:
sum(B)

871198282